/* Initial body */
body {
    left: 0;
    margin: 0;
    position: relative;
}

/* Sidebar styling */
.sidebar {
    position:fixed;
    right: 0;
    cursor: pointer;
}


.sidebar-content {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    width: 250px;
    position: relative;
    right: -250px;    
}

.sidebar-content ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-content li {
    border-bottom: 1px solid #636366;
    line-height: 45px;
}

.sidebar-content li:hover a{
    background-color:rgba(255,255,255,0.1);
}

.sidebar-content a {
    display:block;
    padding-left:20px;
    width:100%;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}


.sidebar-button {
    cursor:  pointer;
    position: fixed;
    right: 0;
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    width: 35px;
    padding: 10px;
    color: #fff;
    font-size:1.6em;
}

.shadowed{
    -moz-box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    box-shadow: 0 0 5px #333;   
}

.vcentered{
    /* Center vertically */
    top:50%;
    transform: translateY(-50%);
    z-index: 100;
}