/* Initial body */
body {
    left: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

/* Initial menu */
.sidebar {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    right: -250px;  /* start off behind the scenes */
    height: 60%;
    position: fixed;
    width: 250px;

    /* Align center vertically */
    top: 50%;
    transform: translateY(-50%);	

    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;  


}

/* Basic styling */

.container {
    height: 100%;
}

.sidebar ul {
    border-top: 1px solid #636366;
    list-style: none;
    margin: 0;
    padding: 0;

    /* Align center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar li {
    border-bottom: 1px solid #636366;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    height:16.66%;
    cursor:pointer;
}

.sidebar li:hover a{
    background-color:rgba(255,255,255,0.1);
}

.sidebar a {
    display:block;
    padding-left:20px;
    width:100%;
    height:100%;	
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}


.open-sidebar {
    background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
    color: #fff;
    cursor: pointer;
    float:right;
    background-color: #222;
    top:200px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    font-size:1.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);      
    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;  	
}
