.row
  #error-alert.alert.fade.in.alert-danger
    %div.close-alert{:type => "button"} ×
    %h3#alert-message
  %div#loadingDiv
  .clear
  #delete-all-charts
    = t('buttons.delete-filters')
    %i.fa.fa-trash-o
  .clear
  .container
    .col-md-10.col-md-offset-1#main-chart-col
      %style
        background-image:
      %div#main-chart{style: "background-image: url('#{image_path(t('footer.languages.current-lang'))}');"}

  .row#small-charts
    .container
      .col-md-3
        %div#div1.small-chart-div
      .col-md-3
        %div#div2.small-chart-div
      .col-md-3
        %div#div3.small-chart-div
      .col-md-3
        %div#div4.small-chart-div
