.row
  .container
  .col-md-8.col-md-offset-2#main-chart-col
    %div#main-chart

    %ul#charts-slider
      %li
        /%a.fullscreen-button
        %div#div1.slider-div
      %li
        %div#div2.slider-div
      %li
        %div#div3.slider-div
      %li
        %div#div4.slider-div