.row
  %div#loadingDiv
  #delete-all-charts
    = t('buttons.delete-filters')
    %i.fa.fa-trash-o
  .container
    .col-md-10.col-md-offset-1#main-chart-col
      %div#main-chart

  .row#small-charts
    .container
      .col-md-3
        %div#div1.small-chart-div
      .col-md-3
        %div#div2.small-chart-div
      .col-md-3
        %div#div3.small-chart-div
      .col-md-3
        %div#div4.small-chart-div