/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    overflow-x: hidden;
}

/*Styles for the body container, includes: topbar-main-footerbar*/
#body-container{
    min-height: 100%;
    position: relative;
}


/*Styles for the navbar footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
}

.navbar-container {
    color: #f1f1f1;
    height: 33px;
    position: relative;
}

.navbar-container h5 {
    margin-top: 10px;
}

.navbar-container h4 {
    margin-top: 7px;
}

.dropup-navbar, .dropup, .dropup a {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.dropup .dropdown-menu {
    margin-bottom: 0 !important;
}



.font-bold {
    font-weight: bold !important;
}

.dropup,.dropdown{
    cursor: pointer;
}


#languages-dropup{
    background-color: #2D3030 !important;
}

#languages-dropup a{
    color: #f1f1f1 !important;
}

#languages-dropup li:hover a{
    background-color: #474747 !important;
    color: #d1d1d1 !important;
}