
#language-header{
	margin-bottom:10px;
}

.list-container{
	width:600px;
	height:400px;
	display:inline-block;
}

#languages-list{display:inline-block;}

#languages-list li{
	float:left;
	list-style:none;
	border: 2px solid #333;
	padding:3px;
	border-radius:5px;
	margin: 0 5px 5px 0;
}
