/ Filter for popular terms and trends modal
#main-filters.modal.fade.modal-fmodal-filtersilters{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Configuracion de filtros
      %div
        .container-fluid
          .row
            .col-md-12
              / Here was an h3 tag
              / tabs left
              .tabbable.tabs-left
                %ul.nav.nav-tabs
                  %li#li-region.active
                    %a#region-link{"data-toggle" => "tab", :href => "#region"}
                      = image_tag("icons/region.png", class: "img-responsive filter-image", alt: "Region icon")
                      %span#region-check.glyphicon.glyphicon-ok-circle{"aria-hidden" => "true"}
                      %label.filter-label Region
                  %li#li-time
                    %a#time-link{"data-toggle" => "tab", :href => "#time"}
                      = image_tag("icons/time.png", class: "img-responsive filter-image", alt: "Time icon")
                      %span#time-check.glyphicon.glyphicon-ok-circle{"aria-hidden" => "true"}
                      %label.filter-label Tiempo
                  %li
                    %a{"data-toggle" => "tab", :href => "#language"}
                      /%img.filter-image{:alt => "tiempo", :src => "assets/icons/idiomas.png"}
                      = image_tag("icons/languages.jpg", class: "img-responsive filter-image", alt: "Languages icon")
                      %span#language-check.glyphicon.glyphicon-ok-circle{"aria-hidden" => "true"}
                      %label.filter-label Lenguaje
                .tab-content
                  #region.tab-pane.active.region
                    .region-container
                      %h2 Seleccion de regiones
                      %hr
                      .region-select
                        .dropdown
                          %button#dropdownMenu1.btn.btn-default.dropdown-toggle.drop-down-toggle-region{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
                            Seleccione una region
                            %span.caret
                          %ul.dropdown-menu.dropdown-menu-regions{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
                            %li.region-options{:role => "presentation", :value => "worldRegions"}
                              %a{:role => "menuitem", :tabindex => "-1"} Mundo
                            %li.region-options{:role => "presentation", :value => "latamRegion"}
                              %a{:role => "menuitem", :tabindex => "-1"} Latinoamerica
                            %li.region-options{:role => "presentation", :value => "americaRegion"}
                              %a{:role => "menuitem", :tabindex => "-1"} America
                            %li.region-options{:role => "presentation", :value => "europeRegion"}
                              %a{:role => "menuitem", :tabindex => "-1"} Europa
                      .region-map-container
                        #vmap
                      .tab-footer
                        %button#region-btn-clear.btn.btn-sm.pull-right{:type => "button"} Limpiar filtro
                  #time.tab-pane.time
                    %h2 Rango de tiempo
                    %hr/
                    .filter-datepicker-containers
                      .col-sm-5
                        %h4 Inicio
                        .form-group
                          #start-timepicker1.input-group.date
                            %input#start-timepicker2.form-control.time-input-picker{:type => "text"}/
                            %span#start-timepicker3.input-group-addon
                              %span.glyphicon.glyphicon-calendar
                      .col-sm-5
                        %h4 Final
                        .form-group
                          #finish-timepicker1.input-group.date
                            %input#finish-timepicker2.form-control.time-input-picker{:type => "text"}/
                            %span#finish-timepicker3.input-group-addon
                              %span.glyphicon.glyphicon-calendar
                    .filter-time-resume.col-sm-10
                      %h4 Resumen de rango seleccionado
                      %hr/
                      .filter-time-resume-container
                        .filter-date-summary-box
                          %h4 Años
                          #filter-resume-year
                            / here goes the number corresponding to the year difference
                            %span 0
                        .filter-date-summary-box
                          %h4 Meses
                          #filter-resume-month
                            / here goes the number corresponding to the year difference
                            %span 0
                        .filter-date-summary-box
                          %h4 Días
                          #filter-resume-day
                            / here goes the number corresponding to the days difference
                            %span 0
                    .tab-footer
                      %button#time-btn-clear.btn.btn-sm.pull-right.pull-bottom{:type => "button"} Limpiar filtro
                  #language.tab-pane.language
                    .language-info-container
                      .col-sm-8
                        %h2 Seleccion de idiomas
                        %hr/
                        %h4 Ingrese el lenguaje
                        #language-header
                          / <input id="language-textbox" placeholder="Language">
                          %input#language-textbox{"data-provide" => "typeahead", :placeholder => "Language", :type => "text"}/
                        .list-container
                          %h4 Idiomas seleccionados
                          %ul#languages-list
                      .tab-footer
                        %button#language-btn-clear.btn.btn-sm.pull-right.pull-bottom{:type => "button"} Limpiar filtro
      / /tabs
      / /row
      .modal-footer
        %button#filters-btn-clear.btn{:type => "button"} Limpiar filtros
        %button.btn.btn-primary{:type => "button"} Aplicar