
.graph-container {
    height: 500px;
    display: none;
    border: 5px solid #C1C0C1;
    box-sizing: border-box;
}

.graph-row {
    height: 100%;
    width: 100%;
}

.graph-columns {
    height: 100%;
    width: 100%;
}

.graph {
    position: relative;
    width:100%;
    height: 100%;
    fill: #000;
    overflow: hidden;
}

svg {
    height: 100%;
    width: 100%;
}

g.dimmed  {
    stroke-opacity: 0.05;
}

g.dimmed text.shadow {
    stroke-opacity: 0;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

text {
    font: 10px sans-serif;
    pointer-events: none;
}

text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

path.link.licensing {
    stroke: green;
}

path.link.resolved {
    stroke-dasharray: 0,2 1;
}

.node-info {
    display: none;
    height: 150px;
    width: 150px;
    border: 3px solid #ccc;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 15px;
    z-index: 500;
    background-color: #fff;
    border-radius: 75px;
    padding-top: 5px;
    text-align: center;
}



.close-button {
    background-image: url('../icons/closeNode.jpg');
    height: 12px;
    width: 12px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.close-button:hover {
    background-image: url('../icons/closeNodeHover.jpg');
}