#popular-terms-section.col-md-4.box-container
  %h4 Terminos populares
  %a
    %section.chart-container
      %img.img-responsive.popular-terms-img{:alt => "", :src => "images/charts/popular-terms.png"}/
      %a#delete-popular-terms.delete-button{:href => "#"}
      %a#configure-popular-terms.settings-button{"data-target" => "#main-filters", "data-toggle" => "modal", :href => "#"}
      %a#fullscreen-popular-terms.fullscreen-button{"data-target" => "#fullscreen-modal", "data-toggle" => "modal", :href => "#"}